@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --yellow : #EAC926;
    --blue : #03264C ;
    --lightBlue : #1259c3 ;
    --DarkGrey : #666 ;
    --lightGrey : #ebebeb;
    --green : #39b54a ;
    /*fonts*/
    --font-primary :'Roboto', sans-serif;
    /*font size*/
    --paragraph : 12px;
    --title : 24px;
    --prices : 18px;
    --descriptions : 16px;
}
/*el siguiente es el selector de todos los archivos
y aplica lo que se le ponga a todos los archivos*/

* {
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}

body{
    font-family: var(--font-primary);
    background-color: var(--lightGrey);
}

li {
    list-style: none;
}

h4{
    color: var(--DarkGrey);
}


/* Card */

.card {
    background-color: white;
    margin-bottom: 10px;
}

.card .card-content {
    border-top: 1px solid var(--lightGrey); 
    padding: 15px;
    position: relative;
}

.card .card-content h6 {
    display: none;
}

.card .card-content .icon-truck {
    border: 1px solid var(--green);
    border-radius: 50%;
    padding: 10px;
    width: -moz-fit-content;
    width: fit-content;
}

.card .card-content .icon-truck i {
    color: var(--green);
}

/*main*/
main{
    margin: 0 auto;
    width: 90%;
}

.ml-15 {
    margin-left: 15px;
}

.mb-15 {
    padding-bottom: 15px;
}

/*Header*/

header {
    background-color: var(--yellow);
    padding-bottom: 10px;
    font-size: var(--paragraph);
}

header .burger-menu{
    width: 28px;
    background-color: var(--lightBlue);
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 0 auto;
    margin: 10px auto 0 auto;
    padding: 7px;
}



.logo {
    padding-top: 25px;
    padding-left: 25px;
    width: 130px;
    margin-bottom: 10px;
}

header p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}



/* Nav */
nav {
    display: none;
}

#top-list {
    margin-bottom: 10px;
}

/* Search bar */

.search-bar {
    display: inline-block;
}

/*Footer*/

footer{
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
}

footer .copy{
    color: var(--DarkGrey);
    font-size: var(--paragraph);
    text-align: left;
    padding-left: 15px;
}

footer i{
    font-size:2em;
    color: var(--lightBlue);
    margin-bottom: 10px;
}

footer p {
    font-size: var(--paragraph);
    padding: 0px 30px 30px 30px;
}

footer h5{
    font-size: var(--descriptions);
}



/* Media Queries */
/* Tablet */
@media (min-width: 361px){
    nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .card {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .card .card-content h6 {
        display: block;
    }
}


/* Desktop */
@media (min-width: 769px){
 
}